# Banco de dados
instance/
*.db

# Ambiente virtual
.venv/
venv/
env/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.pyc
*.pyo

# Arquivos do sistema
.DS_Store
Thumbs.db

# PyCharm
.idea/